
@charset "utf-8";
ui-datepicker-div {
    bottom: 20px;
}
.ui-datepicker {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #C3C3C3;
    border-radius: 8px;
    display: none;
    padding: 20px;
    width: 321px;
	
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-datepicker .ui-datepicker-title {
    color: #139898;
    font-size: 20px;
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 49%;
}
.ui-datepicker table {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 0 0 0.4em;
    width: 100%;
}
.ui-datepicker table thead, table tfoot {
    background: none repeat scroll 0 0 #FAFAFA;
}
.ui-datepicker table tbody tr {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ui-datepicker table tbody tr:nth-child(2n) {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ui-datepicker th {
    border: 0 none;
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
}
.ui-datepicker td {
    border: 0 none;
    padding: 1px;
}
.ui-state-disabled span{
    color:#ccc !important;
}
.ui-datepicker td span, .ui-datepicker td a {
    color: #555555;
    display: inline-block;
    font-size: 12px;
    height: 27px;
    padding: 4px 5px 2px !important;
    text-align: center;
    text-decoration: none;
    width: 27px;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    cursor: pointer;
    float: right;
    margin: 0.5em 0.2em 0.4em;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto 0.4em;
    width: 95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    font-size: 0;
    width: 100%;
}
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    left: auto;
    right: 2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    left: auto;
    right: 1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-state-highlight {
    border: 1px solid #139898;
    border-radius: 14px;
    color: #139898 !important;
}
.ui-state-active {
	color:#ffffff !important;
	border: 1px solid #f63a3b;
	background-color:#f63a3b;	
	border-radius: 14px;
}
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.ui-datepicker-header { position:relative;}
.ui-datepicker-prev {}
.ui-datepicker-next {}
.ui-datepicker-next .ui-icon.ui-icon-circle-triangle-e {
    background: url("../images/calendarRight.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 12px;
    margin: -3px 0 0 0;
    width: 8px;
}
.ui-datepicker-prev .ui-icon.ui-icon-circle-triangle-w {
    background: url("../images/calendarLeft.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 12px;
    margin: -3px 0 0 0;
    width: 8px;
}