
@charset "utf-8";

body { color:#555555;  font-size:100% !important;}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}
.alignCenter {
    text-align: center;
}
.largeBttn {
	background-color:#f63a3b;
	color:#ffffff;
	font-size:18px;
	padding:10px 25px;
	border:none;
	border-radius:5px;
}
.defaultBttn {
	background-color:#f63a3b;
	color:#ffffff;
	font-size:13px;
	padding:10px 25px;
	border:none;
	border-radius:5px;
	font-weight:bold;
	white-space: nowrap;
	
}
.defaultBttn.green {background-color:#139898;}
.defaultBttn:hover, .defaultBttn.green:hover {color:#fff;}
.checkbox, .radio {
  width: 14px;
  height: 14px;
	margin: 0 4px 0 0;
  padding: 0 0 0 0;
  background: url(../images/checkbox.png) no-repeat;
  display: block;
  clear: left;
  float: left;
}





/* =========================== */
/* ======= Search Form ======= */
/* =========================== */

#header {
	
}
#header .leftSide {
    background-color: #139898;
    float: left;
    height: 107px;
    width: 20%;
}
#header .leftSide .logo { margin:0 10px 0 10px; display:block; }
#header .leftSide .logo img { width:auto !important; height:auto !important; }
#header .rightSide {
    float: right;
		height: 107px;
    padding: 0 60px 0 0;
    width: 80%;
		display:table;

}
#header .rightSide .topSection {
    clear: right;
    float: right;
		padding:35px 0 0 0;
}
#header .rightSide .topSection .package {
    float: right;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 0 20px;
		color:#555;
}
#header .rightSide .topSection .package .icon-stack { color:#555; margin:0 5px 0 0}
#header .rightSide .topSection .package span { color:#555; float:left}

#header .rightSide .topSection .loginBox {
    float: right;
    line-height: 16px;
		margin: 0 0 0 20px;
}
#header .rightSide .topSection .loginBox a {
    color: #555555;
    font-size: 12px;
    line-height: 15px;
}
#header .rightSide .topSection .loginBox .icon-users { color:#555; margin:0 5px 0 0}
#header .rightSide .topSection .loginBox span { color:#555; float:left}
#header .rightSide .topSection .loginBox a:hover {
		text-decoration:underline;
}
#header .rightSide .topSection .time {
    float: right;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 0 20px;
}
#header .rightSide .topSection .time .icon-clock { color:#555; margin:0 5px 0 0}
#header .rightSide .topSection .time span { margin:0 5px 0 0; float:left}

#header .rightSide .navMenu {
    clear: right;
    float: right;
    list-style: none outside none;
    margin: 20px 0 7px;
}
#header .rightSide .navMenu li {
    float: left;
}

#header .rightSide .navMenu li a {
    color: #555555;
		font-size:17px;
    margin: 0 0 0 30px;
		text-transform:uppercase;
}
#header .rightSide .logomobile {display:none;}
@media only screen and (max-width:48.00em) {
#header .rightSide {
    padding: 0 0 0 0;
		text-align:center;
		
}
#header .rightSide .logomobile { display:inline-block; float:none; margin:20px 30px 30px 30px;}
#header .rightSide .logomobile img { }
#header .rightSide .topSection { float:none; text-align:center; display:inline-block; padding:10px 0 0 0;}
#header .rightSide .topSection .loginBox { display:inline-block; float:none; margin:0 0 0 0;}
#header .rightSide .topSection .time { display:inline-block; float:none; margin:0 30px;}

#header .rightSide .navMenu {display:inline-block; float:none;}
#header .rightSide .navMenu li a {
    color: #555555;
		font-size:13px;
		margin:0;
    padding:0 10px;
		text-transform:uppercase;
		float:none;
		
}
}

#header .rightSide .navMenu li a:hover {
		color: #F63A3B;
}
#header .rightSide .navMenu li a.active {
    color: #F63A3B;
}





.container {
    margin: 0 auto;
    /* max-width: 1020px; */
}


.mainContent p { font-size:12px; line-height:15px;}
.mainContent h4 {
    background-color: #FAFAFA;
    color: #000000;
    display: inline-block;
    font-size: 18px;
    font-weight: 100;
    line-height: 19px;
    margin: 30px 0 0;
    padding: 0 10px 0 0;
}



.row {
    /* background-color: #E5E5E5; */
		width:100%;
}
[role="main"] {
    background-color: #FAFAFA;
    /* box-shadow: 3px 3px 5px 6px #CCCCCC; */
	padding:0 0 10000px 0 !important;
	margin:0 0 -10000px 0;
}
.sideBarToggle { 
	background-color:#000;
	margin:0;
	padding:5px;
}
.sideBarToggle .menu-icon{
	background:url(../images/sidebarIcon.png) center center no-repeat;
}
.mainContent {
    margin: 0 !important;
    padding: 30px 0;
}
.mainContent h1 {
	color: #139898;
	display:inline-block;
	font-size:26px;
	font-weight: normal !important;
	margin: 0 0 20px;
}
.mainContent h2 {
    font-size: 15px;
    font-weight: normal;
    margin: -10px 0 35px;
}
.mainContent .filterWrapper {
    float: right;
    margin: 4px 0 0;
    text-align: right;
}
/* .mainContent.row .columns { padding:0 !important} */
.mainContent .filterWrapper form { margin:0;}

.mainContent .filterWrapper select {
	border-color: #CDCDCD;
	border-radius: 5px;
	color: #555555;
	display: inline-block;
	font-size: 11px;
	margin:0 0 10px 0;
	padding: 4px;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/
	background: url('../images/selectArrow.png') no-repeat right center ;  /*Adds background-image*/
}
.mainContent .filterWrapper select:focus {border-color: #139898; background-color:#fcfcfc}
.mainContent .filterWrapper input[type=text]:focus {border-color: #139898; background-color:#fcfcfc}
.mainContent .filterWrapper input[type="text"] {
    background: url("../images/searchIcon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border-color: #CDCDCD;
    border-radius: 5px;
    box-shadow: none;
    color: #000;
    display: inline-block;
    font-size: 11px;
    height: auto;
	  margin:0 0 10px 0;
    padding: 5px 5px 5px 32px;
    width:150px;
}
.mainContent .filterWrapper input[type="submit"] {
    background: none repeat scroll 0 0 #F63A3B;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
.mainContent h1 {
	font-size:23px;
}
.mainContent .filterWrapper {
    margin: 0;
}
.mainContent .filterWrapper input[type="text"] {
    width:120px;
}
}

.mainContent .filterDay {
    margin: 0;
    padding: 8px 0;
	  border-top:solid 1px #cecece;
		padding:15px 0 20px 0
}
.mainContent .filter {
    padding: 8px 13px;
    text-align: right;
		border-top:solid 1px #cecece;
		padding:17px 0 20px 0
}
@media only screen and (max-width: 1030px) {
.mainContent .filter { text-align:center; margin:10px 0 20px 0; border:none; }
.mainContent .filterDay {text-align:center; padding:20px 0 0 0;}
}
.mainContent a.fav {
    /* background: url("../images/favIcon.gif") no-repeat scroll left center rgba(0, 0, 0, 0); */
    color: #000000;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 0 24px;
		position:relative;
		padding:0 0 0 20px;
/*     padding: 1px 0 0 21px; */
}
.mainContent a.nofav {
    /* background: url("../images/favIcon.gif") no-repeat scroll left center rgba(0, 0, 0, 0); */
    color: #000000;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 0 24px;
		position:relative;
		padding:0 0 0 20px;
/*     padding: 1px 0 0 21px; */
}
.mainContent a.reload {
/*     background: url("../images/refreshIcon.gif") no-repeat scroll left center rgba(0, 0, 0, 0); */
    color: #000000;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 0 24px;
		position:relative;
		padding:0 0 0 18px;
/*     padding: 1px 0 0 19px; */
}

.mainContent  a.leagues {
    /* background: url("../images/listIcon.gif") no-repeat scroll left center rgba(0, 0, 0, 0); */
    color: #000000;
    font-size: 12px;
    margin: 6px 0 0 0;
    /* padding: 1px 0 0 22px; */
}



.mainContent .filterDay a {
    color: #000000;
    font-size: 12px;
    margin: 0 12px;
    padding: 5px;
}
.mainContent .filterDay .separator {
    background-color: #CECECE;
    color: #CECECE;
    display: inline-block;
    height: 19px;
    margin: 0 0 -4px;
    width: 1px;
}
.mainContent .filterDay a.active {
    background-color: #F63A3B;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
}
.mainContent .filterDay a:hover { color: #F63A3B;}
.mainContent .filterDay a.active:hover { color: #fff;}


.defaultTable {
    border: medium none;
    width: 100%;
}
.defaultTable tr .alignLeft {
    text-align: left;
}
.defaultTable tr .alignRight {
    text-align: right;
}
.defaultTable tr .alignCenter {
    text-align: center;
}
.defaultTable tr {
    background: none repeat scroll 0 0 #FAFAFA;
}
.defaultTable tr:nth-child(2n) {
    background: none repeat scroll 0 0 #FFFFFF;
}
.defaultTable tr:hover, .defaultTable tr:nth-child(2n):hover {
    background-color: #FEEBEB;
}
.defaultTable tr th {
    background-color: #E1E1E1;
    border-bottom: 1px solid #FFFFFF;
    font-size: 12px;
    padding: 10px 0;
    vertical-align: top;
}
.defaultTable tr th p {
    border-left: 1px solid #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.defaultTable tr .ad.pinnacle {
    background-color: #000034;
    color: #FFFFFF;
    font-size: 16px;
    height: 35px;
    padding: 0 15px;
    vertical-align: middle;
		cursor:pointer;
}
.defaultTable tr .ad.bet365 {
    background-color: #017b5b;
    color: #fff;
    font-size: 16px;
    height: 35px;
    padding: 0 15px;
    vertical-align: middle;
		cursor:pointer;
}
.defaultTable tr .ad.sbobet {
    background-color: #c8d7fc;
    color: #233b7a;
    font-size: 16px;
    height: 35px;
    padding: 0 15px;
    vertical-align: middle;
		cursor:pointer;
}
.defaultTable tr .ad img { }
.defaultTable tr .ad span {
    float: right;
    font-size: 13px;
    line-height: 13px;
    margin: 12px 0 0;
}
.defaultTable tr .category {
    background-color: #E4F3F3;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
}
.defaultTable tr td a {
    color: #555555;
}
.defaultTable tr td a .first {
    color: #139898;
}
.defaultTable tr td a .second {
    color: #F63A3B;
}
.defaultTable tr td {
    color: #555555;
    font-size: 12px;
    vertical-align: top;
}



/* ======================= */
/* ======= Sidebar ======= */
/* ======================= */


#sidebar {
    background-color: #F2F2F2;
    margin-bottom: -9950px;
    padding: 0 0 10000px !important;
}
.favBttn-active {
    background: none repeat scroll 0 0 #F2F2F2;
    color: #000000;
		font-weight:bold;
		font-size:13px;
    display: block;
    padding: 13px 0;
    text-align: center;
		border-bottom:solid 1px #ccc;
}
.favBttn-inactive {
    background: none repeat scroll 0 0 #F2F2F2;
    color: #666666;
    display: block;
    padding: 15px 0;
    text-align: center;
		border-bottom:solid 1px #ccc;
}
.favBttn-inactive:hover, .favBttn-active:hover { color: #139898}
.favBttn-active:before {
    color: #139898;
    content: "\e6d0";
    font-family: 'icomoon';
    font-size: 16px;
    margin: 0 6px 0 0;
}

.favBttn-inactive:before {
    color: #139898;
    content: "\e6ce";
    font-family: 'icomoon';
    font-size: 16px;
    margin: 0 6px 0 0;
}

#sidebar:before { 
		-webkit-box-shadow: -7px 0 12px -14px #000000 inset;
    -moz-box-shadow:  -7px 0 12px -14px #000000 inset;
    box-shadow: -7px 0 12px -14px #000000 inset;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
}
.sidebarBttns { float:left; width:100%}
.sidebarBttns a {
    background-color: #DEDEDE;
    color: #555555;
    float: left;
    font-size: 12px;
    padding: 12px;
    text-align: center;
		-webkit-box-shadow: 0 -20px 15px -30px #555 inset;
		-moz-box-shadow:0 -20px 15px -30px #555 inset;
		box-shadow: 0 -20px 15px -30px #555 inset;
}
.sidebarBttns a.active {
    background-color: #f2f2f2;
		box-shadow:none;
		color:#000;
    border-bottom: medium none;
		font-weight:bold;
}
.sidebarBttns a:hover {
	color:#000;
}
.sideMenu {
    background-color: #f2f2f2;
    float: left;
    list-style: none outside none;
		margin:0 0 0 0;
}
.sideMenu li {
    border-bottom: 1px solid #E5E5E5;
    float: left;
    padding: 0;
    width: 100%;
}
.sideMenu li .showHideSideBarLeagues {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    font-size: 11px;
    line-height: 14px;
    margin: 10px 6px 10px 10px;
    padding: 4px 8px;
}
.sideMenu li .sideBarSport {
    color: #555555;
    float: left;
    font-size: 13px;
    line-height: 24px;
    margin: 10px 0;
}
.sideMenu li .count {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    float: right;
    font-size: 11px;
    line-height: 14px;
    margin: 10px 20px 10px 0;
    padding: 4px 8px;
}


.sideMenu li:hover {

		color:#139898;
		
}
.sideMenu li:hover span {color:#139898; border-color:#139898;}
.sideMenu li:hover .showHideSideBarLeagues { color:#139898;}
.sideMenu li:hover .count { background-color:#dedede; color:#fff; border-color:#dedede; }


.sidebarSubmenu {
		box-shadow:0 17px 9px -22px #000000 inset;
    background-color: #dedede;
		float: left;
    max-height: 199px;
		width:100% !important;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
}
.sidebarSubmenu li {
    
    border-bottom: 1px solid #d5d5d5;
		border-left:none;
    padding: 0;
}
.sidebarSubmenu li a {
    color: #555555;
    float: left;
    font-size: 11px;
    padding: 5px 5px 5px 40px;
		width:100%;
}
.sidebarSubmenu li:last-child {
    border-bottom: 1px solid #DEDEDE;
}
.sidebarSubmenu li:hover {}
.sidebarSubmenu li:hover a { color:#000; font-weight:bold }
.sidebarSubmenu li.active {}
.sidebarSubmenu li.active a {}

/* ========================== */
/* ======= Pagination ======= */
/* ========================== */

.mainContent .pagination {
    margin: 40px 0 30px;
}
.mainContent .pagination li {
    margin: 0 0 0 10px;
}
.mainContent .pagination li.current a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #139898;
    color: #139898;
}
.mainContent .pagination li a {
    border: 1px solid #CDCDCD;
    border-radius: 5px;
}
.mainContent .pagination li:hover a {
}

/* ============================= */
/* ======= Register Form ======= */
/* ============================= */

.registerForm {
    border-top: 1px solid #CDCDCD;
    margin: -4px 0 0;
    padding: 20px 0 0;
}
.registerForm .cell {
    border-bottom: 1px solid #EEEEEE;
    margin: 10px 0 0;
    padding:0 20px 20px !important;
}
.registerForm p { margin: 0 0 4px;}
.registerForm p span { color:#ff0000;}
.registerForm input[type=text] {
	background-color:#fdfdfd;
	border-color: #CDCDCD;
    border-radius: 5px;
    box-shadow: none;
    color: #555555;
    display: inline-block;
    font-size: 11px;
    height: auto;
	margin:0;
	padding:10px;	
}
.registerForm input[type=text]:focus {
	border-color: #139898; 
	background-color:#fefefe;
}
.registerForm select {
    border-color: #CDCDCD;
    border-radius: 5px;
    color: #555555;
    display: inline-block;
    font-size: 11px;
	margin:0 0 0 0;
    padding: 9px;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/
	background: url('../images/selectArrow.png') no-repeat right center #fdfdfd;  /*Adds background-image*/
}
.registerForm select:focus {border-color: #139898; background-color:#fefefe}

/* =========================== */
/* ======= Search Form ======= */
/* =========================== */

.searchForm {
    margin: 0;
}
.searchForm .row {
    margin: 0;
}
.searchForm p {
  margin:10px 0 4px 0;
}
.searchForm span {
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin:10px 35px 0 2px;
}
.searchForm .cell {
    border-bottom: 1px solid #EEEEEE;
    margin: 10px 0 0;
    padding:0 20px 20px !important;
}
.searchForm input[type="radio"] {
    float: left;
    margin: 11px 2px 0 0;
}
.searchForm input[type="text"] {
    background-color: #FDFDFD;
    border-color: #CDCDCD;
    border-radius: 5px;
    box-shadow: none;
    color: #555555;
    display: inline-block;
    font-size: 11px;
    height: auto;
     margin:0 0 10px 0;
    padding: 10px;
}
.searchForm input.calendar {
     margin:10px 0 0 0;
}
.searchForm input[type="text"]:focus {
    background-color: #FEFEFE;
    border-color: #139898;
}
.searchForm select {
    border-color: #CDCDCD;
    border-radius: 5px;
    color: #555555;
    display: inline-block;
    font-size: 11px;
	 margin:0 0 10px 0;
    padding: 9px;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/
	background: url('../images/selectArrow.png') no-repeat right center #fdfdfd;  /*Adds background-image*/
}
.searchForm select:focus {border-color: #139898; background-color:#fefefe}
.results { margin:30px 0 5px 0;}

.label_check, .label_radio {
	display: block;
	float: left;
	font-size: 12px;
	height: 16px;
	line-height: 17px;
	margin: 0 33px 0 0;
	padding-left: 20px;
}

.label_radio { background: url(../images/radioUncheck.png) no-repeat; }
label.r_on { background: url(../images/radioCheck.png) no-repeat; }


.label_check { background: url(../images/uncheckIcon.png) no-repeat; }
label.c_on { background: url(../images/checkIcon.png) no-repeat; }

.label_check input, .label_radio input { position: absolute; left: -9999px; }


@media only screen and (min-width: 1040px) {
.searchForm input[type="text"] { width:180px !important; margin:0 10px 0 0; float:left;}
.searchForm input.calendar { width:180px !important; margin:0 10px 0 0;}
.searchForm select { width:180px !important; margin:0 10px 0 0; float:left;}
.checkboxWrap {
		background-color:#fdfdfd;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    float: left;
    margin: 0 10px 0 0;
    padding: 9px 8px 9px 15px;
    width: 370px;
}
.searchForm span {
    font-size: 11px;
}
.checkboxWrap span:last-child
{
margin-right:0;
} 
.searchForm span { margin:10px 45px 0 2px;}
}
/* ====================== */
/* ======= Footer ======= */
/* ====================== */

#footer {
}
#footer .footer-ls {
    float: left;
    width: 20%;
}
#footer .footer-rs {
    background: none repeat scroll 0 0 #666666;
    float: left;
    width: 100%;
}
#footer .footer-rs .footer-tnav {
    background: none repeat scroll 0 0 #666666;
    clear: left;
    float: left;
    width: 100%;
}
#footer .footer-rs .footer-tnav .ftls, #footer .footer-rs .footer-bnav .fbls {
	 float: left; 
	 padding:30px 10px 0 10px;
	 width: 20%;
}
#footer .footer-rs .footer-tnav .ftrs, #footer .footer-rs .footer-bnav .fbrs {
	 display: table; 
	 float: right; 
	 padding: 0 0 0 0; 
	 width: 80%;
}

@media only screen and (max-width:48.00em) {
		#footer .footer-rs .footer-tnav .ftrs, #footer .footer-rs .footer-bnav .fbrs {
	 padding: 0 15px; 
	 width: 100%;
}
}



#footer .footer-rs .footer-tnav .footer-topMenu {
    float: left;
    list-style: none outside none;
    margin: 30px 0 0;
}
#footer .footer-rs .footer-tnav .footer-topMenu li {
    display: inline-block;
    margin: 0 30px 0 0;
}
#footer .footer-rs .footer-tnav .footer-topMenu li a {
    color: #FFFFFF;
    font-size: 13px;
}
#footer .footer-rs .footer-tnav .footer-bottomMenu {
    clear: left;
    float: left;
    list-style: none outside none;
    margin: 0 0 30px;
}
#footer .footer-rs .footer-tnav .footer-bottomMenu li {
    display: inline-block;
    margin: 0 20px 0 0;
}
#footer .footer-rs .footer-tnav .footer-bottomMenu li a {
    color: #E4E4E4;
    font-size: 11px;
}
#footer .footer-rs .footer-bnav {
    background: none repeat scroll 0 0 #292929;
    float: left;
    padding: 0 0 30px 0;
    width: 100%;
}
#footer .footer-rs .footer-bnav .sectionTitle {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0 5px;
}
#footer .footer-rs .footer-bnav ul {
}
#footer .footer-rs .footer-bnav ul li {
    line-height: 18px;
    padding-bottom: 0;
}
#footer .footer-rs .footer-bnav li a {
    color: #EBEBEB;
    font-size: 11px;
}

/* ============================= */
/* ======= Graphics Page ======= */
/* ============================= */


h3.eventName {
    color: #000000;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 6px;
}
h3.eventName span {
    color: #AAAAAA;
    font-size: 16px;
}
.eventDate {
    color: #139898;
    margin: 0;
}
.eventLeague {
    color: #777777;
    font-size: 12px;
    margin: 4px 0 0;
    padding: 0 0 15px;
}
.graphCath {
    font-size: 18px;
    margin: 50px 0 10px;
}
.graphCath span {
}

.graphLinks {
    margin: 20px 0;
}
.graphLinks .summaryTable {
    background: url("../images/graphIcon1.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #139898;
		margin: 0 30px 0 0;
    padding: 0 0 0 20px;
}
.graphLinks .moneylineTable {
    background: url("../images/graphIcon2.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #139898;
    padding: 0 0 0 20px;
}
.legend {display:none;}



.graphTable {
    border: medium none;
    width: 100%;
}
.graphTable .noWrap { white-space:nowrap;}
.graphTable tr .alignLeft {
    text-align: left;
}
.graphTable tr .alignRight {
    text-align: right;
}
.graphTable tr .alignCenter {
    text-align: center;
}
.graphTable tr {
    background: none repeat scroll 0 0 #ffffff;
}
.graphTable tr:nth-child(2n) {
    background: none repeat scroll 0 0 #FFFFFF;
}
.graphTable tr:hover, .graphTable tr:nth-child(2n):hover {
    background-color: #FEEBEB;
}
.graphTable tr th {
    background-color: #E1E1E1;
    border-bottom: 1px solid #FFFFFF;
    font-size: 12px;
    padding: 10px 20px;
    vertical-align: top;
}
.graphTable tr th p {
    border-left: 1px solid #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
.graphTable tr .category {
    background-color: #E4F3F3;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
}
.graphTable tr td a {
    color: #555555;
}
.graphTable tr td a .first {
    color: #139898;
}
.graphTable tr td a .second {
    color: #F63A3B;
}
.graphTable tr td {
    color: #555555;
    font-size: 12px;
    vertical-align: top;
		padding:10px 20px;
}

td { color:#000;}
td:nth-child(2n+0)
{
color:#777;
font-weight:normal
} 


/* ============================= */
/* ======= Leagues Modal ======= */
/* ============================= */

#select-sidebar-league-modal .redBttn-large {
    background-color: #F63A3B;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    margin: 0 10px 0 0;
    padding: 6px 15px;
}
#sidebarLeagueSelectAll {
    background: url("../images/checkIcon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #000000 !important;
    padding: 0 0 0 20px;
}
#sidebarLeagueUnselectAll {
    background: url("../images/uncheckIcon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #000000 !important;
    padding: 0 0 0 20px;
}
#select-sidebar-league-modal h2 {
    color: #139898;
    display: block;
    float: left;
    font-size: 26px;
    font-weight: normal !important;
    margin: 0 0 20px;
    width: 100%;
}
#select-sidebar-league-modal {
    background: none repeat scroll 0 0 #FEFEFE;
    border: medium none;
    border-radius: 10px;
    z-index: 1000;
}
#select-sidebar-league-modal a {
    color: #F63A3B;
    float: left;
    font-size: 13px;
		line-height:16px;
		margin: 0 24px 15px 0;
}
#select-sidebar-league-modal ul {
    border-top: 1px solid #CECECE;
    clear: both;
    float: left;
    padding: 20px 0 0;
    width: 100%;
}
#select-sidebar-league-modal ul li {
    color: #000000;
    font-size: 11px;
    line-height: 15px;
    margin: 0 0 10px;
}
#select-sidebar-league-modal ul li input[type="checkbox"] {
    float: left;
    margin: 0 6px 0 0;
}
.close-reveal-modal {
    background: url("../images/closeIcon.png") no-repeat scroll center center  !important;
    height: 30px !important;
    right: -15px !important;
    top: -14px !important;
    width: 30px !important;
		margin:0 !important;
}
.reveal-modal-bg { background-color:#fff; opacity:0.7;}


/* =========================== */
/* ======= Login Modal ======= */
/* =========================== */

#loginModal {
    border: medium none;
    border-radius: 10px;
}
#loginModal h2 {
    color: #139898;
    float: left;
    font-size: 26px;
    font-weight: normal;
    margin: 0;
}
#loginModal .fpass {
    color: #777777;
    font-size: 12px;
    margin: 30px 0 4px;
    text-align: center;
    width: 100%;
}
#loginModal .fpass a {
    color: #F63A3B;
    font-size: 12px;
    font-weight: bold;
    margin: 14px 0 0;
    text-decoration: underline;
}
#loginModal .username {
    background: url("../images/loginUser.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    box-shadow: none;
    font-size: 11px;
    height: auto;
    margin: 7px 0 10px;
    padding: 10px 10px 10px 50px;
}
#loginModal .password {
    background: url("../images/loginPass.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    box-shadow: none;
    font-size: 11px;
    padding: 10px 10px 10px 50px;
}
#loginModal input[type="submit"] {
    padding: 10px;
    width: 100%;
}
#loginModal input[type=text]:focus {
	border-color: #139898; 
	background-color:#fefefe;
}


/* ===================================== */
/* ======= Subscription Packages ======= */
/* ===================================== */

.subscriptionTable {
    border: medium none;
}
.subscriptionTable tr:nth-child(2n) {
    background: none repeat scroll 0 0 #FFFFFF;
}
.subscriptionTable tr {
}
.subscriptionTable tr td {
    border-right: 5px solid #FAFAFA;
    color: #666666;
    font-size: 13px;
    padding: 7px 25px;
    text-align: center;
		vertical-align:middle;
}
.subscriptionTable tr td .cath {
    color: #000000;
    float: right;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 0;
}
.subscriptionTable tr td .price {
    font-size: 12px;

}
.subscriptionTable tr td.alignRight [class^="icon-"], .subscriptionTable tr td.alignRight [class*=" icon-"] {
    margin: 0 6px 0 0;
}
.subscriptionTable tr th {
    background-color: #139898;
    border-bottom: 1px solid #FAFAFA;
    border-right: 5px solid #FAFAFA;
    color: #fff;
    font-size: 18px;
    font-weight: bold !important;
    padding: 10px;
}
.subscriptionTable tr th h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.subscriptionTable tr th h3 {
    font-size: 16px;
    margin: 4px 0 15px;
}
.subscriptionTable tr th h3 span {
    font-size: 12px;
    font-weight: normal;
}
.subscriptionTable tr th a {
    color: #139898;
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
}
.subscriptionTable tr td.alignLeft, .subscriptionTable tr th.alignLeft {
    text-align: left;
}
.subscriptionTable tr td.alignRight, .subscriptionTable tr th.alignRight {
    text-align: right;
}
.subscriptionTable tr td.alignCenter, .subscriptionTable tr th.alignCenter {
    text-align: center;
}





