RewriteEngine On

RewriteCond %{HTTP_HOST} ^oddsarchive\.com$ [NC]
RewriteRule ^(.*)$ http://www.oddsarchive.com/$1 [R=301,L]

#RewriteCond $1 !^(index\.php|images|robots\.txt)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
